<launch>

  <!-- Load your robot -->
  <arg name="robot" default="cambot"/>

  <param name="robot_description" textfile="$(find cambot_description)/urdf/cambotV3.urdf" />	

	<!-- Send gui-ed joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="TRUE"/>
  </node>

  <!-- Build your robot tf tree -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cambot_description)/launch/display.rviz"/>

</launch>
